include tox.ini LICENSE CHANGES.md
include example.ini
recursive-include tests *.py *.lr *.ini *.html *.css *.lektorproject
include .readthedocs.yml
include docs/requirements.txt
recursive-include docs *.rst *.py *.css *.md
